*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.main {
	padding: 35px;
}
.dni-foto {
	width: 200px;
	height: 200px;
}
.main-paragraph {
	font-size: 20px;
	text-align: center;
}
.map-google {
height: 200px;
width: 250px;
margin-bottom: 45px
}
img {
    width: 33vw;
    
}
.width-50 {
	width: 35vw;
	display: inline-block;
	height: 155px;
}

.progress {
	height: 48px;
	padding: 20px;
	text-align: center;
}

.color-tranparent {
	color: transparent;
}
.float-left {
	float: left;
}
.margin-8 {
	margin: 8px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.last-box {
	height: 36vw;
	width: 100%;
}
.float-rigth{
	float: right;
}
.mg-10 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.text-center {
	text-align: center;
}
.display-block {
	display: block;
}
.input {
	border: none;
	border-radius: 5px; 
}
.heigth-100 {
	height: 100vh;
}